/****Base Styles ************/
/*                          */
/***************************/
* {
	box-sizing:border-box;
}
.container {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	text-align:center;
	font-family:verdana;
	
}
.header {
	background:#000000;
	color:#FEC100;
}
.navigation {
	background:lightblue;
}
a:link, a:visited {
  text-decoration:none;
  display:block;
  padding:.5em;
  
  margin:.25em;
}
.featured-content{
	background:orange;
}
.primary-content {
	background:gray;
}
.secondary-content {
	background:lime;
}
.footer {
	background:#000000;
	color:#FEC100;
}