/****Base Styles ************/
/*                          */
/***************************/
* {
	box-sizing:border-box;
	font-family:Helvetica;
}

.container {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	text-align:center;
	font-family:Helvetica;
	border:1px solid black;
	margin-top:-1.2em;
	margin-bottom:-1.2em;
}
.header {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	background:black;
	color:#FEC100;
	padding-top:-9em;
}
h1 {
	font-size:3em;
}
h2 {
	font-size:2em;
}
.head-images {
	display:none;
}
.navigation {
	background:black;
}
.nav {
	background:#FEC100;
	border-radius:25px;
}
a:link, a:visited {
  text-decoration:none;
  display:block;
  padding:.5em;
  margin:.25em;
}
.featured-content{
	background:orange;
}
.primary-content {
	background:gray;
}
.secondary-content {
	background:lime;
}
.footer {
	display:flex;
	flex-direction:column;
	background:#000000;
	color:#FEC100;
	flex-grow:0;
	padding-top:2em;
}
.contact-icon {
	border-radius:10px;
	max-width:50px;
	min-height:50px;
	margin-left:1.5em;
	margin-right:1.5em;
}


/*
These changes happen when the viewport is larger than 695px
 */
 
@media(min-width:695px) {

.head-images {
	display:flex;
	justify-content:center;
	flex-direction:row;	
}
.img-left,
.img-right {
	padding-top:7em;
}
.img-left {
	margin-right:4em;
}
.img-right {
	margin-left:4em;
}
.navigation {
	display:flex;
	flex-direction:row;
	justify-content:center;
	padding-top:.25em;
	padding-bottom:.25em;
}
.nav {
	margin-left:2.2em;
	margin-right:2.2em;
	padding-right:1.1em;
	padding-left:1.1em;
}
.contact-icon {
	max-width:60px;
}
}

/*
These changes occur when the viewport is larger than 1080px
*/

@media(max-width:1080px) {
	.img-left,
	.img-right{
		display:none;
	}
}
